<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="./logs/log.log"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.jooq" level="DEBUG"/>
    <!-- Activiti日志 -->
    <logger name="org.activiti" level="INFO"/>
    <logger name="org.activiti.engine.impl.persistence.entity" level="DEBUG"/>
</configuration>